.board {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.row {
  display: flex;
}

.cell {
  height: 30px;
  width: 30px;
  min-width: 30px;
  background-color: #bdbdbd;
  border: ridge 4px darkgray;
  border-top: ridge 4px #fff;
  border-left: ridge 4px #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.revealed {
  background-color: #bdbdbd;
  border: solid 1px gray;
}

.exploded {
  background-color: red;
}

.adj-1 {
  color: blue;
}

.adj-2 {
  color: green;
}

.adj-3 {
  color: red;
}

.adj-4 {
  color: purple;
}

.adj-5 {
  color: maroon;
}

.adj-6 {
  color: turquoise;
}

.adj-7 {
  color: black;
}

.adj-8 {
  color: gray;
}
