.board {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.row {
  display: flex;
}

.cell {
  height: 30px;
  width: 30px;
  background-color: #bdbdbd;
  border: ridge 4px darkgray;
  border-top: ridge 4px #fff;
  border-left: ridge 4px #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.revealed {
  background-color: #bdbdbd;
  border: solid 1px gray;
}

.exploded {
  background-color: red;
}
